.carousel-caption {
    width: 37%;
}
.detail-title {
    width: 500px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: left;
}

.dark-bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #1c1c1c77 10%, #202020 80%);
}

.dark-bg-image-2::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #202020);
}

.dark-bg-image img {
    display: block;
    width: 60%;
    height: auto;
}

.detail-content-top-text {
    padding: 3px 10px;
    background-color: #33F43B;
    border-radius: 2px 0 0 2px;
}

.detail-content-top-text-1 {
    padding: 3px 10px;
    background: rgba(217, 217, 217, 0.80);
    border-radius: 0 2px 2px 0;
}

.detail-title-small .text-title {
    padding: 1px;
    background: rgba(217, 217, 217, 0.894);
    color: #20202099;
    margin-right: 3px;
    border-radius: 2px;
}

.btn-issue {
    background-color: #3ffc45;
    color: #FFF;
    margin-right: 5px;
}

.btn-issue:hover {
    background-color: #4ce852;
}

.btn-share {
    background: rgba(163, 163, 163, 0.8);
    color: #fff;
    margin-right: 5px;
}

.btn-share:hover {
    background-color: rgba(163, 163, 163, 0.877);
    color: #fff;
}

.miscellaneous-content-1-header-ul {
    list-style: none;
    margin-top: 20px;
}

.info {
    display: none;
}

.info.active {
    display: block;
}

.miscellaneous-content-1-header-ul a {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.2px;
    text-decoration: none;
    margin-right: 20px;
    padding: 0;
}

.custom-list li a.active {
    position: relative;
}

.custom-list li a.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #33F43B; /* Màu gạch chân */
    position: absolute;
    bottom: -2px;
    top: 37px; /* Độ dài của gạch chân */
    left: 0;
    padding-bottom: 3px;
}

.miscellaneous-content-1 {
    background-color: #353535;
    height: auto;  
    border-radius: 8px; 
}

.miscellaneous-content-2 {
    background-color: #202020;
    height: auto;
    padding: 0 0 0 10px;
}

.miscellaneous-content-2-block {
    background-color: #353535;
    height: auto;
    border-radius: 8px;
    padding: 5px;
}

.miscellaneous-content-2-header {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.2px;
    height: 50px;
    text-align: center;
    padding-top: 16px ;
}

.miscellaneous-content-2-block-film-text {
    margin-left: 10px;
}

.miscellaneous-content-2-block-film {
    margin-bottom: 10px ;
}

.miscellaneous-content-2-block-film-img img {
    border-radius: 8px;
}

.info3-assess-header {
    background-color: #464646;
    height: 40px;
    text-align: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.2px;
    padding-top: 5px;
    border-radius: 5px;
}

.info3-assess-block-comments {
    background-color: #e3e3e3;
    height: auto;
}
.info3-assess-block-comments {
    margin-top: 20px;
    border-radius: 8px;

}

.info3-assess-comments {
    padding-top: 40px;
    padding-left: 20px;
}
.info3-assess-comment-content {
    color: #000;
    font-family: Inter;
    font-size: 17px;
}

.info3-assess-comment-content-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info3-assess-comments-form {
    margin-top: 20px;
    margin-bottom: 20px;
}